@font-face{
    font-family: 'Coluna';
    src: url(archivos/Coluna_Rounded.ttf) format('truetype');
    font-weight: bold;
    font-style: bold;
}

.fondo{
    background-image: url(archivos/fondo.png);
    background-position: center; /*lo centra*/
    background-attachment: fixed; /*para que no se repita*/
    background-size: cover; /*para que cubra todo*/
}

.holder{
    max-width: 500px;
    max-height: 900px;
    margin: 0 auto;
}


/*INICIO HEADER*/

.iconos{display: flex; align-items: center; justify-content: center;}

.icono_1{margin-right: 20px;}

.icono_2{margin-right: 80px;}

.icono_3{margin: 0 13px 0 13px;}

.icono_4{margin-left: 80px;}

.icono_5{margin-left: 20px;}

/*FIN HEADER*/



/*INICIO NAV*/

nav ul{margin: 0; padding: 0; list-style: none; display:flex;}

nav ul li{flex-grow: 1;}

.activo{background-color: #1da1ff; font-size: 30px; font-family: coluna;  padding-top: 5px; margin: 5px; display: flex; justify-content: center; align-items: center;  border-radius: 5px;}

.rectangulo_1, .rectangulo_2, .rectangulo_3, .rectangulo_4{background-color: #2f91d7a5;font-size: 30px; font-family: coluna; padding-top: 5px; margin: 5px; display: flex; justify-content: center; align-items: center; border-radius: 5px;}

nav ul li a{color: white; text-decoration: none;}

nav ul li:hover{background-color: #1da1ff; cursor: pointer;}

/*FIN NAV*/



/*INICIO FOOTER*/

footer{display: flex; justify-content: center; align-items: center; margin-top: 610px;}

.contenedor_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2f91d7a5;
    width: 450px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.contenedor_footer p, .contenedor_footer p a{
    color: white;
    font-size: 15px;
    font-family: coluna;
    text-align: center;
    margin: 5px 0; /*IMPORTANTE*/
    text-decoration: none;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.redes a{
    font-size: 15px;
    font-family: coluna;
    color: white;
    text-decoration: none;
}





/*FIN FOOTER*/